html{
    background-image: -webkit-linear-gradient(top, #3C3B3A, #cecbc9);
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
}
body{
    font-family: sans-serif;
}
a{
    color:#ffffff;
    text-decoration: none;
}
a:visited{
    color: pink;
}
/********
 debugger
*********/
.card  div:hover{
    outline:1px solid darkgoldenrod;
}
.card  span:hover{
    outline:2px solid #00aeff;
}
.card img:hover{
    outline:2px solid pink;
}
/*******
    navigation
********/
.navigation{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    font-size: 30px;
}
.navigation a{
    margin: 0.2em;
}
/*******
********/

/*************
  side-menu
**************/
.side-menu{
    float: left;
    min-height: 100vh;
    min-width: 100px;
    background: rgba(0,0,0,0.4);
    padding: 0.5em;
    color: whitesmoke;
    text-transform: capitalize;
    margin-right: 1em;
}
.side-menu .title-menu{
    font-size: 1.6em;
    color: black;
    text-shadow: 1px 1px 5px white, -1px 0px 5px white;
    border-bottom: 1px solid white;
    padding: 0.2em;
    margin-bottom: 1em;
    font-family: fantasy;
}

.side-menu a:visited{
    color: gray;
}
/*********

**********/

.main-content{
   float: left;
}
.preivew,.live{
    float:left;
}
/***********
preivew
************/

.preivew img{
    padding: 2mm;
    width: 9.1cm;
    height: 5.1cm;
}

.btn-screenshoot{
    width: 100px;
    height: 100px;
    background: rgb(30, 211, 111);
    box-shadow: inset 0 0 7px black, 1px 2px 2px rgba(0,0,0,0.3);
    border: none;
    font-size: 18px;
    color: rgb(30, 211, 111);
    margin: 3px;
    text-shadow: 0 0 2px black, 0px -1px 1px #bdb5b4, 1px 1px 1px white;

    position: absolute;
    right: 1em;
    bottom: 1em;
    cursor: pointer;
}
.btn-screenshoot:hover{
    color:#ffffff;
}

.btn-screenshoot,
.btn-screenshoot:after,
.btn-screenshoot:before {
    -webkit-transition:-webkit-transform 0.75s,background-color .125s;
    -moz-transition:-moz-transform 0.75s,background-color .125s;
    -ms-transition:-ms-transform 0.75s,background-color .125s;
    transition:transform 0.75s,background-color .125s;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;

}



.btn-screenshoot:after,
.btn-screenshoot:before {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:.25rem;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;

    backface-visibility:hidden;

}
.btn-screenshoot:after{
    z-index:1;
    background-color:#999;
    background-repeat:no-repeat;
    background-position:center center;
    background-image:url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
    -webkit-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    transform:rotateX(180deg);
    content:'';
}


.btn-screenshoot:active{
    outline: none;
}

.btn-screenshoot.loading {
    -webkit-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    transform:rotateX(180deg);
}
