<div class="card back">
    <div class="header"></div>
    <div class="float-right right-column">
        <label class="add-friend">
            <i class="icon"></i>
            <span class=""  />Add Friend</label>

        </label>

    </div>

    <div class="contact">
        <h5>
            contact information
        </h5>
        <img class="qr-code" ng-src="{{ images.qrCode }}" alt=""/>
        <k>phone</k><v>{{ person.phone }}</v><br>
        <k>email</k><v><img src="{{ images.iconEmail }}" class="logo" style="width: 0.29cm;height: 0.23cm;margin-right: 0.1cm"/>{{ person.email }}</v><br>
        <k>account</k><v><img ng-src="{{ images.iconFB }}" class="logo" style="width: 0.3cm;height: 0.3cm;margin-right: 0.1cm"/>{{ person.accounts }}</v><br>
        <k></k><v ><img src="{{ images.iconInstagram }}" class="logo"/>
        <img ng-src="{{ images.iconLinkdin }}" class="logo" alt=""/>
        <img ng-src="{{ images.iconTwitter }}"  class="logo" />
        <img ng-src="{{ images.iconGitHub }}" class="logo" alt=""/>
        <!--<img src="img/twitter-logo.png"  class="logo" />-->
        <img ng-src="{{ images.iconPlus }}"  class="logo" />
    </v>
    </div>
    <div class="family clearFix">
        <h5>family</h5>
        <div class="person">
            <div class="imgCover"><img ng-src="{{ images.moreImage0 }}" /></div>
            <!--<span >Eddie Mimon</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img ng-src="{{ images.moreImage1 }}" /></div>
            <!--<span >Shelly woods</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img ng-src="{{ images.moreImage2 }}" /></div>
            <!--<span >Shelly woods</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img ng-src="{{ images.moreImage3 }}" /></div>
            <!--<span >Shelly woods</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img ng-src="{{ images.moreImage5 }}" /></div>
            <!--<span >Shelly woods</span>-->
        </div>

    </div>
    <div class="logos">

    </div>


</div>