<div class="card back">
    <div class="header"></div>
    <div class="float-right right-column">
        <label class="add-friend">
            <i class="icon"></i>
            <span class=""  />Add Friend</label>

        </label>

    </div>

    <div class="contact">
        <h5>
            contact information
        </h5>
        <img class="qr-code" src="img/qcode.png" alt=""/>
        <k><!--<img src="img/galaxy%20s3%20logo.png" />--> phone</k><v>{{ person.phone }}</v><br>
        <k><!--<img src="img/Gmail_logo.jpg" />-->email</k><v><img src="img/gmail_logo.png" class="logo" style="width: 0.29cm;height: 0.23cm;margin-right: 0.1cm"/>{{ person.email }}</v><br>
        <!--<k></k><img src="img/Facebook-Messenger-Logo1.jpg" alt=""/><v>pery.mimon@facebook.com</v><br>-->
        <k>account</k><v><img src="img/fb-logo.jpg" class="logo" style="width: 0.3cm;height: 0.3cm;margin-right: 0.1cm"/>{{ person.accounts }}</v><br>
        <k></k><v ><img src="img/Instagram_logo.png" class="logo"/>
        <img src="img/LinkedIn_logo.png" class="logo"/>
        <img src="img/twitter-logo-1.jpg"  class="logo" />
        <img src="img/github_logo.png" class="logo" alt=""/>
        <!--<img src="img/twitter-logo.png"  class="logo" />-->
        <img src="img/plus-badge.png"  class="logo" />
    </v>
    </div>
    <div class="family clearFix">
        <h5>family</h5>
        <div class="person">
            <div class="imgCover"><img src="img/eddie.jpg" /></div>
            <!--<span >Eddie Mimon</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img src="img/shelly.jpg" /></div>
            <!--<span >Shelly woods</span>-->
        </div>
        <!--<div style="clear: both;"></div>-->
    </div>
    <div class="logos">

    </div>


</div>