<div class="card back ng-scope">
    <div class="header"></div>
    <img class="qr-code" ng-src="img/qcode.png" alt="" src="img/qcode.png">
    <div class="float-right right-column" style="overflow: hidden;z-index: 10;padding-bottom: 4px;">
        <label class="add-friend" style="width: 94%;text-align: center;">
            <span class="">Add Friend</span></label>
    </div>
    <div class="contact" style="margin-top: -2px;overflow: hidden;">
        <h5>
            contact information
        </h5>

        <k>phone</k><v class="ng-binding">( +972 ) 054-3043-757</v><br>
        <k>email</k><v class="ng-binding"><img src="img/gmail_logo.png" class="logo" style="width: 0.29cm;height: 0.23cm;margin-right: 0.1cm">pery.mimon@gmail.com</v><br>
        <k>account</k><v class="ng-binding"><img ng-src="img/fb-logo.jpg" class="logo" style="width: 0.3cm;height: 0.3cm;margin-right: 0.1cm" src="img/fb-logo.jpg">fb.com/pery.mimon</v><br>

    </div>
    <div class="family clearFix">
        <h5>photos</h5>
        <div class="person">
            <div class="imgCover"><img src="img/card/1.jpg" style="
    top: -34px;
    width: 4.2em;
    left: -16px;
    /* zoom: 2; */
"></div>
            <!--<span >Eddie Mimon</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img src="img/card/2.jpg" style="
    /* zoom: 2; */
    top: -4px;
    left: -15px;
    width: 83px;
"></div>
            <!--<span >Shelly woods</span>-->
        </div>
        <div class="person">
            <div class="imgCover" style="
    width: 4.5em;
"><img src="img/card/3.jpg" style="
    /* zoom: 4; */
    top: -30px;
    left: -18px;
    width: 115px;
"></div>
            <!--<span >Shelly woods</span>-->
        </div>
        <div class="person">
            <div class="imgCover"><img src="img/card/4.jpg" style="
    /* zoom: 2; */
    left: -16px;
    top: -4px;
    width: 80px;
"></div>
            <!--<span >Shelly woods</span>-->
        </div><div class="person" style="
    /* width: 76px; */
">
        <div class="imgCover" style="
    width: 68px;
"><img src="img/card/5.jpg" style="
    /* zoom: 2; */
    left: -3px;
    top: -7px;
    width: 70px;
"></div>
        <!--<span >Shelly woods</span>-->
    </div>


        <div class="person" style="
    border-right: none;
">
            <div class="imgCover" style="
    width: 23px;
"><img src="img/card/6.jpg" style="
    /* zoom: 2; */
    left: -9px;
    top: -5px;
    width: 40px;
"></div>
            <!--<span >Shelly woods</span>-->
        </div></div>
    <div class="logos">

    </div>


</div>
