<div class="card front">
    <div class="cover">
        <img class="bg-cover" ng-src="{{ images.cover }}" alt=""/>
        <div class="name">
            {{ person.name }}
        </div>
        <div class="profileImage">
            <img ng-src="{{ images.me }}" class="image"/>
        </div>
    </div>
    <div class="about">
        <h5 >About
            <div class="living">
                <img ng-src="{{ images.iconLiving }}" style="width: 18px; margin-left: -1px;">
                <d>Lives in</d> <v>{{ person.city }}, {{ person.country }}</v>
            </div>
        </h5>
        <div class="details">
            <div class="row">
                <div class="detail">
                    <img ng-src="{{ images.iconWork }}" />
                    <df>{{ person.profession }}</df> <vf>{{person.workingCompany}}</vf><br>
                    <span class="past">Past: {{ person.pastCompany }}</span>
                </div>
                <div class="detail">
                    <img ng-src="{{ images.iconStudy }}" />
                    <df>Studied at</df> <vf>{{ person.studied }}</vf><br>
                    <span class="past">Past: {{ person.pastStudied }}</span>
                </div>
            </div>
            <div class="row">
                <div class="detail">
                    <img ng-src="{{ images.iconBirthday }}" style="top:-2px;" />
                    <df>Birthday</df> <vf>{{ person.birthday }}</vf><br>
                </div>
                <div class="detail">
                    <img ng-src="{{ images.iconDegree }}" style="width: 18px;margin-left: -1px;" />
                    <df>{{ person.degree }} in</df> <vf>{{ person.fieldTitle }}</vf><br>
                </div>
            </div>

        </div>
        <div class="study workplace">
            <div style="float: left;">

            </div>
            <div style="float: left">

            </div>
        </div>

        <div class="study">

        </div>
    </div>



</div>
