<div class="card front ng-scope">
    <div class="cover">
        <img class="bg-cover" ng-src="img/971792_10151600465809591_1233828151_n.jpg" alt="" src="img/971792_10151600465809591_1233828151_n.jpg">
        <div class="name ng-binding">
            pery mimon
        </div>
        <div class="profileImage">
            <img ng-src="img/me.png" class="image" src="img/me.png">
        </div>
    </div>
    <div class="about">
        <h5>About
            <div class="living">
                <img ng-src="img/lives.icon.png" style="width: 18px; margin-left: -1px;" src="img/lives.icon.png">
                <d>Lives In</d> <v class="ng-binding" style="
    vertical-align: 3px;
    font-size: 12px;
    margin-left: -4px;
">Netanya, Israel</v>
            </div>
        </h5>
        <div class="details">
            <div class="row">
                <div class="detail" style="
    /* width: 11.7em; */
">
                    <img ng-src="img/work.icon.png" src="img/work.icon.png">
                    <df class="ng-binding">Web client developer</df> <vf class="ng-binding">[a•mo•bee]</vf><br>
                    <span class="past ng-binding">Past: proGame</span>
                </div>
                <div class="detail">
                    <img ng-src="img/study.icon.png" src="img/study.icon.png">
                    <df>Studied at</df> <vf class="ng-binding">Bar-Ilan University</vf><br>
                    <span class="past ng-binding">Past: Bar-Ilan Netanya</span>
                </div>
            </div>
            <div class="row">
                <div class="detail">
                    <img ng-src="img/birethday_icon.png" style="top:-2px;" src="img/birethday_icon.png">
                    <df>Birthday</df> <vf class="ng-binding">21 September</vf><br>
                </div>
                <div class="detail">
                    <img ng-src="img/dgree-logo.png" style="width: 18px;margin-left: -1px;" src="img/dgree-logo.png">
                    <df class="ng-binding">B.A. in</df> <vf class="ng-binding">Applied Mathematics</vf><br>
                </div>
            </div>

        </div>
        <div class="study workplace">
            <div style="float: left;">

            </div>
            <div style="float: left">

            </div>
        </div>

        <div class="study">

        </div>
    </div>



</div>
